@charset "ISO-8859-1";

.body1{
	font-family: times,serif;
	margin: 0 auto;
	background-color:#dbdfe2;
	background-image: url("/images/color3.png");
	/* background-image: url("/images/b31.png"); */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header{
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:1;
}

.main{
	padding-top:5rem;
	margin-bottom: 100px;
}

.nav-item a:hover{
	background:#5ab3c1;
	transition:all 0.4s linear;	
	border-radius:10px;
}
.container{
	width:100%;
	max-width:1300px;
	margin: 0 auto;
}
.imagenformulario{
	margin-top:10px;
	margin-left:80px;
	margin-bottom:10px;
	width: 100%;
	border-radius:30px;
}

.Logoletra{
	margin-top:50px;
	margin-left:80px;
	margin-bottom:10px;
}

.card-header{
	background-color:#6cd4ff;
}

.card-body{
	background-color:#d9d9fa;
}

.table{
	border-color:#7abaff;
}

.tbody{
	background-color:#f9f9ff;
}

.modal-body{
	background-color:#d9efdc;
	background-image: url("/images/b32.jpg");
}

.modal-footer{
	background-color:#d9efdc;
}

.tiposactivos{
	color:#0062cc;
}

.ocultarcolunma{
	visibility:collapse;
	 display: none;
}

.celdaeditar{
	width: 0 auto;
	height: 0 auto;
	caret-color:blue;
	outline-color: #5ab3c1;
	text-align: center; 	
}

.footer{
	padding-bottom: 0px;
}

.botonguardar{
	margin-left:400px
}

.btn-group{
}
